root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_size = 2

[*.yml, *.yaml]
indent_size = 2

[*.json*]
indent_size = 4

[Makefile]
indent_size = 2
indent_style = tab

[[shell]]
indent_size = 2
switch_case_indent = true
keep_padding       = true
space_redirects    = true

# Align to clang-format at first implementation
[*.{c,cpp,h}]
indent_size = 4

# https://google.github.io/styleguide/pyguide.html
[*.py]
indent_size = 4
