name: Build vdostream application
on:
  workflow_dispatch:
  push:
    paths:
      - 'vdostream/**'
      - '!vdostream/README.md'
      - '.github/workflows/vdostream.yml'
jobs:
  test-app:
    name: Test app
    runs-on: ubuntu-latest
    strategy:
      matrix:
        axis-os: ["12.8.54"]
        arch: ["armv7hf", "aarch64"]
        vdo-format: ["h264", "h265", "y800", "jpeg", "nv12"]
        include:
          - axis-os: "12.8.54"
            arch: "aarch64"
            vdo-format: "avif"
            chip: "artpec9"
    env:
      EXREPO: acap-native-examples
      EXNAME: vdostream
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3

      - name: Build ${{ env.EXNAME }} application
        env:
          imagetag: ${{ env.EXREPO }}_${{ env.EXNAME }}_${{matrix.vdo-format}}:${{ matrix.arch }}
        run: |
          docker image rm -f $imagetag
          cd $EXNAME
          docker build --no-cache --build-arg ARCH=${{ matrix.arch }} --build-arg VDO_FORMAT=${{ matrix.vdo-format }} --tag $imagetag .
          docker cp $(docker create $imagetag):/opt/app ./build_${{ matrix.vdo-format }}
          cd ..
          docker image rm -f $imagetag
